body {
  font-family: "Century Gothic", sans-serif;
  font-size: 30px;
}
header {
  display: flex;               /* Coloca los elementos en la misma l칤nea */
  justify-content: space-between; /* Separa el texto a la izquierda y el carrito a la derecha */
  align-items: center;         /* Centra verticalmente los elementos */
  padding: 10px 10px;          /* Espaciado interno (arriba/abajo - izquierda/derecha) */
  background-color: #c3c9eb;   /* Color de fondo suave (opcional) */
  border-bottom: 2px solid #575454; /* L칤nea decorativa abajo (opcional) */
}

#logo{
  width: 100px;           
  height: 100px;          
  object-fit: contain;   /* mantiene proporci칩n */
}

/* --- contenedor principal --- */
.contenedor {
  display: flex;              /* 游댠 Pone las tarjetas en una fila */
  justify-content: center;    /* Centra horizontalmente */
  align-items: flex-start;    /* Alinea arriba */
  gap: 30px;                  /* Espacio entre tarjetas */
  flex-wrap: wrap;            /* Por si la pantalla es peque침a */
  margin-top: 30px;
}

/* --- cada tarjeta --- */
.tarjeta {
  display: flex;
  flex-direction: column;     /* Imagen arriba, bot칩n abajo */
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 300px;
}

/* --- imagen --- */
.tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* --- bot칩n --- */
button {
  background-color: #3c3ff1;
  color: #f8f3f3;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
 background: rgb(255, 166, 0);
}

.tarjeta p {
  font-size: 15px;
  color: #333;
  margin-top: 8px;
  text-align: center;
}

h3{
   font-size: 20px; 
}

#vaciar-carrito {
  cursor: pointer;
}

#vaciar-carrito:hover {
  color: white;
  background: rgb(255, 166, 0);
  border-radius: 5px;
  padding: 3px 6px;
}